
{{#each posts as |post|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <a href="/post/{{post.id}}" class="btn btn primary">Comment</a>
    <div class="card-footer">
        <p>Created by: {{post.user.userName}} at {{post.createdAt}}</p>
    </div>
  </div>
</div>
{{else}}
<p>No posts</p>
{{/each}}
